body {
	background: #1d1f21;
	font-family: sans-serif;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.folder {
	background: #373b41;
	border-radius: 0.5em;
	margin-top: 2em;
	margin-left: 2em;
	padding: 1em;
	width: 13em;
}

h2 {
	color: #c5c8c6;
	margin: 0;
	font-size: large;
}

ul {
	margin-top: 0.5em;
	margin-bottom: 0;
	padding-left: 0.5em;
	list-style: none;
}

.keyword {
	color: #969896;
	font-size: smaller;
	display: inline-block;
	min-width: 2.4em;
}

a:hover, a:visited, a:link, a:active {
	color: #c5c8c6;
	text-decoration: none;
	font-weight: bolder;
}

a:hover {
	text-decoration: underline;
}
